* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0ce94d;
}

.tela-cadastro {
    width: 90%;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    padding: 1rem;
}

.cad-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cad-image img {
    width: 25rem;
}

.cad {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.cad-inicio {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.cadastro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.dados-cadastro {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.dados-cadastro input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.botao-continuar input {
    background-color: rgb(18, 184, 250);
    width: 500px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #ccc;
    justify-content: center;
    align-items: center;
}